*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/

# záloha zdrojákov v1.0 pred úpravami na v1.1
/_zaloha-v1.0/

# hotové buildy na vydanie (nepatria do gitu)
/vydania/
